<div *ngIf="item.children; else elseBlock" >
<a [routerLink]="item.route?item.route:''" (click)="onItemSelected(item)">
  <mat-icon>{{item.iconName}}</mat-icon>
  <span class="text">{{item.displayName}}</span>
  <mat-icon class="expand-icon" [@indicatorRotate]="expanded?'expanded':'collapsed'">expand_more</mat-icon>
</a>
<div class="expandable">

<div  class="expand-menu" #submenu [@expandable]="{value:getAnim(),params:{subHeight:subHeight}}">
  <ul>
    <li>
      
        <a *ngFor="let child of item.children" aria-expanded="false" [item]="child" [depth]="depth+1">
          <mat-icon>{{child.iconName}}</mat-icon><span>{{child.displayName}}</span>
      </a>
  </li>
</ul>
</div>
</div>

</div>
<ng-template #elseBlock>
  <a  href="{{item.route?item.route:''}}" (click)="disable(item)">
    <mat-icon>{{item.iconName}}</mat-icon>
    <span class="text">{{item.displayName}}</span>
  </a>
</ng-template>