<div class="navigation-container">
  <div class="level1" (mouseenter)="toggleMain(1)" (mouseleave)="toggleMain(0)" [@toggleWidth]="{value: menuState.first_level_expanded, params:{tWidth:menuState.firstLevelWidth}}" (@toggleWidth.start)="onAnimationEvent($event)"
        (@toggleWidth.done)="onAnimationEvent($event)">
    <div class="top-align">
    <ul>
      <li *ngFor="let item of navItems">
        <a [routerLink]="[item.path?item.path:'']"  (click)="toggleLevelTwo(item,2,$event)" >
          <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
          <span class="text" *ngIf="menuState.showText" [ngClass]="{'d-none':!menuState.firstLevelShowFullWidth}">{{item.text}}</span>
        </a>
  
      </li>
    </ul>
</div>
<div class="bottom-align">
  <ul>
      <li id="expand-main">
        <a (click)="toggleMain()"><mat-icon>keyboard_return</mat-icon></a>
      </li>
    </ul>
  </div>
  </div>
  <div class="level2"  [@setPosition]="{value: menuState.runAnim? menuState.second_level_expanded : '2', params:{left:menuState.secondLevelPosition}}" (@setPosition.start)="onAnimationEvent($event)"
  (@setPosition.done)="onAnimationEvent($event)" >
    <ul *ngIf="menuState.secondLevelMenu != null">
    
      <li *ngFor="let item of menuState.secondLevelMenu">
        
        <app-menu-item [item]="item"></app-menu-item>
        <!-- <ng-template #elseBlock>
        <a  href="{{item.route?item.route:''}}" (click)="disable()">
          <mat-icon>{{item.iconName}}</mat-icon>
          <span class="text">{{item.displayName}}</span>
        </a>
      </ng-template> -->
      </li>
    </ul>
  </div>
</div>
