.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    padding: 0px;
}

.navigation-container  {
position: relative;
display: flex;
height: 100%;
min-width: 65px;

}

.navigation-container .level1 {
    display: flex;
    position: relative;
    background-color: #c71cb0;
    height: 100%;
  z-index: 10;
  flex-direction: column;

}

.navigation-container .level2 {
display: flex;
    background-color: #690f5c;
    position: relative;
    height: 100%;
    z-index: 0;
}

.top-align {
 display: flex;
 flex-grow: 1;
align-self: flex-start;
}

.bottom-align {
    display: flex;
    align-self: flex-end;
}



 